USE [master]
GO
/****** Object:  Database [retail_company]    Script Date: 7/17/2025 10:13:25 PM ******/
CREATE DATABASE [retail_company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'retail_company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\retail_company.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'retail_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\retail_.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'retail_comp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\retail_comp.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'retail_company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\retail_company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [retail_company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [retail_company]
GO
/****** Object:  UserDefinedFunction [dbo].[circle]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[circle]
(
    @radius INT
)
RETURNS @result TABLE
(
    partobi DECIMAL(10, 2),
    perimetri DECIMAL(10, 2)
)
AS
BEGIN
    DECLARE @p DECIMAL(5, 2) = 3.14;
    DECLARE @partobi DECIMAL(10, 2);
    DECLARE @perimetri DECIMAL(10, 2);

    SET @partobi = @p * POWER(@radius, 2);

    SET @perimetri = 2 * @p * @radius;

    INSERT INTO @result (partobi, perimetri)
    VALUES (@partobi, @perimetri);

    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[factorial]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[factorial]
(
    @n INT
)
RETURNS INT
AS
BEGIN
    DECLARE @factorial INT = 1;
    DECLARE @i INT = 1;

    WHILE @i <= @n
    BEGIN
        SET @factorial = @factorial * @i;
        SET @i = @i + 1;
    END

    RETURN @factorial;
END



GO
/****** Object:  UserDefinedFunction [dbo].[findmax]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[findmax]
(
@num1 int, @num2 int, @num3 int
)
RETURNS int
AS
BEGIN
	declare @max int;
	set @max=
	case when @num1>=@num2 and @num1>=@num3 then @num1
	when @num2>=@num1 and @num2>=@num3 then @num2
	else @num3
	end;
	return @max;
END


GO
/****** Object:  Table [dbo].[retail_orders]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retail_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [date] NULL,
 CONSTRAINT [PK_retail_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[retail_countOrder_view]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[retail_countOrder_view]
AS
SELECT        COUNT(*) AS order_count
FROM            dbo.retail_orders
GROUP BY CustomerId
GO
/****** Object:  Table [dbo].[retail_customer]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retail_customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[RegisteredAt] [date] NULL,
 CONSTRAINT [PK_retail_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[retail_OrderItems]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retail_OrderItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_retail_OrderItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[retail_count_unitPrice_view]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[retail_count_unitPrice_view]
AS
SELECT        c.Name, SUM(oi.Quantity * oi.UnitPrice) AS Expr1
FROM            dbo.retail_customer AS c INNER JOIN
                         dbo.retail_orders AS o ON o.CustomerId = c.id INNER JOIN
                         dbo.retail_OrderItems AS oi ON o.id = oi.OrderId
GROUP BY c.Name, c.id
GO
/****** Object:  View [dbo].[avg_orders_view]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[avg_orders_view]
AS
SELECT        o.CustomerId, SUM(oi.UnitPrice * oi.Quantity) / COUNT(DISTINCT o.id) AS TotalOrdersCount
FROM            dbo.retail_orders AS o INNER JOIN
                         dbo.retail_OrderItems AS oi ON o.id = oi.OrderId
GROUP BY o.CustomerId
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_order_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](18, 0) NULL,
	[order_id] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](100) NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[total_sales_view]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[total_sales_view]
AS
SELECT        FORMAT(o.order_date, 'yyyy-MM') AS MONTH, c.category_name, p.product_name, SUM(oi.quantity * oi.unit_price) AS revenue, SUM(oi.quantity) AS total_items, COUNT(DISTINCT o.order_id) AS order_count, SUM(o.total_amount) 
                         AS total_sales
FROM            dbo.orders AS o INNER JOIN
                         dbo.order_item AS oi ON o.order_id = oi.id INNER JOIN
                         dbo.products AS p ON oi.product_id = p.id INNER JOIN
                         dbo.categories AS c ON p.category_id = c.id
WHERE        (o.order_date >= DATEADD(YEAR, - 1, GETDATE()))
GROUP BY FORMAT(o.order_date, 'yyyy-MM'), c.category_name, p.product_name
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SwapValues]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SwapValues]
(
    @num1 INT,
    @num2 INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        SwappedNum1 = @num2, 
        SwappedNum2 = @num1
);


GO
/****** Object:  Table [dbo].[customers]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[segment] [varchar](50) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_history]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NULL,
	[salary_band] [varchar](50) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_current] [bit] NULL,
	[employee_id] [int] NULL,
 CONSTRAINT [PK_employee_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[join_date] [datetime] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlySaleReport]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlySaleReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ReportMonth] [date] NULL,
	[ProductId] [int] NULL,
	[ProductName] [varchar](50) NULL,
	[TotalQuantity] [int] NULL,
	[TotalRevenue] [decimal](18, 2) NULL,
	[RevenueRank] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_MonthlySaleReport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[retail_products]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[retail_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Category] [varchar](50) NULL,
 CONSTRAINT [PK_retail_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_2_products]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_task_2_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_2_sales]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[sale_date] [date] NULL,
 CONSTRAINT [PK_task_2_sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_2_topSellers]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_topSellers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[total_quantity] [int] NULL,
	[rank] [int] NULL,
	[loggedAt] [datetime] NULL,
 CONSTRAINT [PK_task_2_topSellers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_items_pid_oid]    Script Date: 7/17/2025 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_items_pid_oid] ON [dbo].[order_item]
(
	[product_id] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_date]    Script Date: 7/17/2025 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_date] ON [dbo].[orders]
(
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_category_id]    Script Date: 7/17/2025 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [idx_products_category_id] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee_history]  WITH CHECK ADD  CONSTRAINT [FK_employee_history_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[employee_history] CHECK CONSTRAINT [FK_employee_history_employees]
GO
ALTER TABLE [dbo].[MonthlySaleReport]  WITH CHECK ADD  CONSTRAINT [FK_MonthlySaleReport_task_2_products] FOREIGN KEY([id])
REFERENCES [dbo].[task_2_products] ([id])
GO
ALTER TABLE [dbo].[MonthlySaleReport] CHECK CONSTRAINT [FK_MonthlySaleReport_task_2_products]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_order_item_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_order_item_products]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_order_item] FOREIGN KEY([order_id])
REFERENCES [dbo].[order_item] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_order_item]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[retail_OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_retail_OrderItems_retail_orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[retail_orders] ([id])
GO
ALTER TABLE [dbo].[retail_OrderItems] CHECK CONSTRAINT [FK_retail_OrderItems_retail_orders]
GO
ALTER TABLE [dbo].[retail_OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_retail_OrderItems_retail_products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[retail_products] ([id])
GO
ALTER TABLE [dbo].[retail_OrderItems] CHECK CONSTRAINT [FK_retail_OrderItems_retail_products]
GO
ALTER TABLE [dbo].[retail_orders]  WITH CHECK ADD  CONSTRAINT [FK_retail_orders_retail_customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[retail_customer] ([id])
GO
ALTER TABLE [dbo].[retail_orders] CHECK CONSTRAINT [FK_retail_orders_retail_customer]
GO
ALTER TABLE [dbo].[task_2_sales]  WITH CHECK ADD  CONSTRAINT [FK_task_2_sales_task_2_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[task_2_products] ([id])
GO
ALTER TABLE [dbo].[task_2_sales] CHECK CONSTRAINT [FK_task_2_sales_task_2_products]
GO
ALTER TABLE [dbo].[task_2_topSellers]  WITH CHECK ADD  CONSTRAINT [FK_task_2_topSellers_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[task_2_topSellers] CHECK CONSTRAINT [FK_task_2_topSellers_products]
GO
/****** Object:  StoredProcedure [dbo].[proc_add_categories]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_add_categories]
	@category_name varchar(100)
AS
BEGIN
	insert into categories (category_name) values(@category_name);
END

GO
/****** Object:  StoredProcedure [dbo].[proc_add_customer]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_add_customer] @name varchar(50),@city varchar(50),@segment varchar(50)
AS
BEGIN
	insert into customers (name,city,segment) values(@name,@city,@segment);
END

GO
/****** Object:  StoredProcedure [dbo].[proc_add_history]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_add_history] @department_id int,@salary_band varchar(50),@start_date datetime,@end_date datetime,@is_current bit,@employee_id int
AS
BEGIN
	insert into employee_history 
	(department_id,salary_band,start_date,end_date,is_current,employee_id)
	values(@department_id,@salary_band,@start_date,@end_date,@is_current,@employee_id)
END

GO
/****** Object:  StoredProcedure [dbo].[proc_add_order]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_add_order] @customer_id int,@order_date datetime,@total_amount decimal,@order_id int
as
begin
insert into orders (customer_id,order_date,total_amount,order_id) values(@customer_id,@order_date,@total_amount,@order_id)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_add_order_item]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_add_order_item] @product_id int,@quantity int,@unit_price decimal
as 
begin
insert into order_item (product_id,quantity,unit_price) values(@product_id,@quantity,@unit_price)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_add_product]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_add_product] @product_name varchar(100),@category_id int
as
begin
insert into products (product_name,category_id) values(@product_name,@category_id)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_delete_category]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_delete_category]
	@id int
AS
BEGIN
	delete from categories where id=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_categories]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_categories]
AS
BEGIN
    SELECT id, category_name
    FROM categories
    ORDER BY category_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_get_monthly_report]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_get_monthly_report] @ReportMonth date
AS
BEGIN
    DECLARE @StartDate DATE = DATEFROMPARTS(YEAR(@ReportMonth), MONTH(@ReportMonth), 1);
    DECLARE @EndDate DATE = EOMONTH(@StartDate);
	with monthlySales as(
	select s.product_id,sum(s.quantity) as totalQauntity from dbo.task_2_sales s
	where sale_date between @StartDate and @EndDate
	group by product_id
	),
    RevenueSales as(
	select m.product_id,m.totalQuantity,p.product_name (m.totalQuantity*p.price) as totalRevenue from monthlySales m
	inner join dbo.task_2_product p on m.product_id=p.id
	),
	rankProducts as(
	select r.product_id,r.totalQuantity,r.product_name,r.totalRevenue, rank() over(order by r.total_revenue desc) as revenueRank from RevenueSales r
	)
	insert into dbo.MonthlySaleReport (ReportMonth,ProductId,ProductName,TotalQuantity,TotalRevenue,RevenueRank,CreatedAt)
	select @StartDate AS ReportMonth, re.product_id,re.totalQuantity,re.product_name,re.totalRevenue,re.revenueRank,GETDATE() AS CreatedAt
	from rankProducts re;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sold_products]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_sold_products]
AS
BEGIN
    DECLARE @MonthStart DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    DECLARE @MonthEnd DATE = EOMONTH(@MonthStart);
    DECLARE @TopN INT = 5;

    BEGIN TRY
        BEGIN TRANSACTION;
            WITH MonthlySales AS (
                SELECT 
                    s.ProductID,
                    SUM(s.Quantity) AS TotalQuantity
                FROM Sales s
                WHERE s.SaleDate BETWEEN @MonthStart AND @MonthEnd

                GROUP BY s.ProductID
            ),
            RankedSales AS (
                SELECT 
                    ms.ProductID,
                    ms.TotalQuantity,
                    RANK() OVER (ORDER BY ms.TotalQuantity DESC) AS Rank
                FROM MonthlySales ms
            )
            INSERT INTO TopSellersLog (ProductID, TotalQuantity, Rank)
            SELECT TOP (@TopN)
                rs.ProductID,
                rs.TotalQuantity,
                rs.Rank
            FROM RankedSales rs
            ORDER BY rs.Rank;
        ;

        COMMIT;
        PRINT 'Top sellers logged successfully.';

    END TRY
    BEGIN CATCH
        ROLLBACK;
        PRINT 'Error: ' + ERROR_MESSAGE();
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[proc_InsertCustomer]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertCustomer]
    @Name NVARCHAR(100),
    @RegisteredAt DATE
AS
BEGIN
    INSERT INTO dbo.retail_Customer (Name, RegisteredAt)
    VALUES (@Name, @RegisteredAt);
END

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertOrderItem]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertOrderItem]
    @OrderID INT,
    @ProductID INT,
    @Quantity INT,
    @UnitPrice DECIMAL(10,2)
AS
BEGIN
    INSERT INTO dbo.retail_OrderItems (OrderID, ProductID, Quantity, UnitPrice)
    VALUES (@OrderID, @ProductID, @Quantity, @UnitPrice);
END


GO
/****** Object:  StoredProcedure [dbo].[proc_InsertProduct]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertProduct]
    @ProductName NVARCHAR(100),
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO dbo.task_2_products (product_name, price)
    VALUES (@ProductName, @Price);
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertRetailOrder]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertRetailOrder]
    @CustomerID INT,
    @OrderDate DATE
AS
BEGIN
    INSERT INTO dbo.retail_orders (CustomerID, OrderDate)
    VALUES (@CustomerID, @OrderDate);
END

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertSale]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertSale]
    @ProductID INT,
    @Quantity INT,
    @SaleDate DATE
AS
BEGIN
    INSERT INTO dbo.task_2_sales (product_id, quantity, sale_Date)
    VALUES (@ProductID, @Quantity, @SaleDate);
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertToProduct]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertToProduct]
    @ProductName NVARCHAR(100),
    @Price DECIMAL(10,2),
    @Category NVARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.retail_products (ProductName, Price, Category)
    VALUES (@ProductName, @Price, @Category);
END

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertTopSellerLog]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertTopSellerLog]
    @ProductID INT,
    @TotalQuantity INT,
    @Rank INT
AS
BEGIN
    INSERT INTO dbo.task_2_topSellers (product_id, total_quantity, rank)
    VALUES (@ProductID, @TotalQuantity, @Rank);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_get_monthly_sales_summary]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_monthly_sales_summary]
AS
BEGIN
    WITH Ranked AS (
        SELECT *,
            RANK() OVER (PARTITION BY Month, category_name ORDER BY revenue DESC) AS rnk
        FROM total_sales_view
    )
    SELECT
        Month,
        category_name,
        MAX(total_sales) AS total_sales,
        SUM(total_items) AS total_items_sold,
        MAX(CASE WHEN rnk = 1 THEN product_name END) AS top_selling_product,
        MAX(total_sales * 1.0 / order_count) AS avg_order_value
    FROM Ranked
    GROUP BY Month, category_name;
END;

GO
/****** Object:  StoredProcedure [dbo].[sumOfOven]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sumOfOven]
	
AS
DECLARE @i INT = 1;
DECLARE @sum INT = 0;

WHILE @i <= 100
BEGIN
    IF @i % 2 = 0
        SET @sum = @sum + @i;

    SET @i = @i + 1;

PRINT 'WHILE ციკლით ლუწი რიცხვების ჯამი: ' + CAST(@sum AS VARCHAR);
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeHistory]    Script Date: 7/17/2025 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployeeHistory]
    @EmpID INT,
    @NewDeptID INT,
    @NewSalaryBand VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Expire old record (only if dept or salary_band changed)
        UPDATE employee_history
        SET end_date = GETDATE(),
            is_current = 0
        WHERE id = @EmpID
          AND is_current = 1
          AND (department_id != @NewDeptID OR salary_band != @NewSalaryBand);

        -- Insert new record
        INSERT INTO employee_history (
            id,
            department_id,
            salary_band,
            start_date,
            end_date,
            is_current
        )
        VALUES (
            @EmpID,
            @NewDeptID,
            @NewSalaryBand,
            GETDATE(),
            NULL,
            1
        );

        COMMIT TRANSACTION;
        PRINT 'Employee history updated successfully.';
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        --PRINT 'Error occurred: ' + ERROR_MESSAGE();
        THROW;
    END CATCH
END;

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[20] 4[42] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "oi"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'avg_orders_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'avg_orders_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 119
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "oi"
            Begin Extent = 
               Top = 6
               Left = 486
               Bottom = 136
               Right = 672
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'retail_count_unitPrice_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'retail_count_unitPrice_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "retail_orders"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'retail_countOrder_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'retail_countOrder_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[5] 4[14] 2[45] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "oi"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 119
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'total_sales_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'total_sales_view'
GO
USE [master]
GO
